@charset "UTF-8";

@import './base.css';

/*a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}*/

#app {
  max-width: 1312px;
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  place-items: center;
  grid-template-columns: 3fr 1fr 10fr 1fr 3fr;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #app {
    display: grid;
    place-items: center;
    margin: 0 auto;
    padding: 1rem;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px;

    grid-template-areas: "head head2 head3 head4" "main main2 main3 main4";
  }


}

/*@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}*/

body {
  display: flex;
  place-items: center;
}

@media (min-width: 1024px) {
  #app {
    max-width: 1312px;
    margin: 0 auto;
    padding: 1rem;

    display: grid;
    place-items: center;

    grid-template-columns: 3fr 1fr 10fr 1fr 3fr;
    grid-template-rows: 100px 200px 100px;
    grid-template-areas: "head head2 head3 head4" "main main2 main3 main4";
  }
}
